@page "/KitchenRange"

<div class="container">
    <h1>Kitchen Range</h1>

    <div class="row">
        <div class="col-sm-6">
            <h5>Rivington</h5>
            <p>Description about the Kitchen Range</p>
        </div>
        <div class="col-sm-6">
            <h5>Rivington</h5>
            <p>Description about the Kitchen Range</p>
        </div>
        <div class="col-sm-6">
            <h5>Rivington</h5>
            <p>Description about the Kitchen Range</p>
        </div>
        <div class="col-sm-6">
            <h5>Rivington</h5>
            <p>Description about the Kitchen Range</p>
        </div>
    </div>
</div>

@code {

}
